.grid {
  height: calc(100% - 93px);

  .avatar {
    max-height: 50px;
    max-width: 50px;
  }

  input:not([type=checkbox], [type=radio]), select, textarea {
    margin-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}